h1{
    text-align: center;
}

.imagens{
       text-align: center;
}

p{
    font-size: 40px;
}

body{
    background-color: rgb(255, 255, 255);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-style: italic; 
}

nav{
    background-color: rgb(28, 173, 225);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }

 li{
    float: left;
 }


 li a {
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
 }
 li a:hover{
    background-color: burlywood;
 }